<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    @Styles.Render("~/Content/css")
    
    @Scripts.Render("~/bundles/modernizr")
    <link href="http://fonts.googleapis.com/css?family=Allura" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Aldrich" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Palatino+Linotype" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Calligraffitti" rel="stylesheet" type="text/css">
</head>
<body id="pageBody">
    
    @Html.Partial("Header")

    

    <div id="contentOuterSeparator"></div>
    @RenderBody()
   

    <div id="footerOuterSeparator"></div>

    @Html.Partial("Footer")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.7&appId=1675099536065164";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function initMap() {
            var latlng = new google.maps.LatLng(10.776558, 106.689565); //Tọa độ cửa hàng
            var map = new google.maps.Map(document.getElementById('map'), {
                center: latlng,
                zoom: 16 //Độ phóng to của bản đồ
            });
            var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                title: "Jespère Bakery" //Tên hiển thị khi đưa chuột vào địa điểm
            });
        }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqr7uWC7qaznJ9lEe9BI-_yXClLkcza8Q&callback=initMap">
    </script>
    
    @RenderSection("scripts", required: false)
</body>
</html>
