
<div id="decorative2">
    <div class="container">

        <div class="divPanel topArea notop nobottom">
            <div class="row-fluid">
                <div class="span12">

                    <div id="divLogo" class="pull-left">
                        <a href="index.html" id="divSiteTitle">J'espère Bakery</a><br />
                        <a href="index.html" id="divTagLine">Không chỉ là bánh, đó là tinh hoa của một công nghệ</a>
                    </div>

                    <div id="divMenuRight" class="pull-right">
                        <div class="navbar">
                            <button type="button" class="btn btn-navbar-highlight btn-large btn-primary" data-toggle="collapse" data-target=".nav-collapse">
                                NAVIGATION <span class="icon-chevron-down icon-white"></span>
                            </button>
                            <div class="nav-collapse collapse">
                                <ul class="nav nav-pills ddmenu">
                                    @foreach (var menu in ViewBag.menus)
                                    {
                                        <li class="dropdown">
                                            <a href="@menu.slug">@menu.ten</a>
                                            @if (@menu.childrent.Count > 0)
                                            {
                                                <ul class="dropdown-menu">
                                                    @foreach (var menu_chilrent in @menu.childrent)
                                                    {
                                                        <li><a href="@menu_chilrent.slug">@menu_chilrent.ten</a></li>
                                                    }
                                                </ul>
                                            }
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>